abc-app/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9bfe704d-aa3c-44a8-ac1b-f30ba10df7d5" >
		<db:my-sql-connection host="${db.host}" port="${http.port}" user="${db.username}" password="${db.password}" database="${db.database}" />
	</db:config>
	<flow name="getEmployees" doc:id="62eb5da9-c906-443d-aaeb-7a6ccf229a03">
		<http:listener doc:name="Listener" doc:id="c0b8d973-e79f-46dc-81be-8b1dc3e651e5" config-ref="HTTP_Listener_config" path="/employee"/>
		<db:select doc:name="Select" doc:id="d93e640c-8af3-4685-825d-905acc669fb1" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from employee]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2d6fe698-3e6c-46ee-9dd8-5e6b97aebe47" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ce2a22a8-863d-4a3d-a657-03e375b9c214" />
	</flow>
	<flow name="getEmployeeByID" doc:id="37f0cc8e-a3e2-4baa-9c39-0bc38c0bf5e5">
		<http:listener doc:name="Listener" doc:id="bb67b944-a310-4cd5-8834-c6e7c3ab0e25" config-ref="HTTP_Listener_config" path="/employee/{ID}"/>
		<db:select doc:name="Select" doc:id="0526882b-feba-4a37-8a10-a531e43e7e2d" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from Employee where E_ID= :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID':attributes.uriParams.ID }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="85531760-f044-4ecd-a87c-f25e930c29bd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
